@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AdiHaus";
  src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-style: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --theme-color-black: #333333; /* rgba(51, 51, 51, 1) */
  --theme-color-brown: #a55e38;
  --theme-color-red: #cd3a24;
  --theme-color-white: #feffff; /* rgba(254, 255, 255, 1) */
  --theme-color-green: #12a555;
}

/* ---------- MAIN BODY DECLERATIONS ---------- */

html,
body {
  background-color: var(--theme-color-white);
  font-family: "AdiHaus";
  font-size: 14px;
  height: 100%;
  width: 100%;
}

input {
  font-family: "AdiHaus";
}

.mobile-container {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
}

.hero-image-desktop {
  display: block;
  height: 100%;
  width: 65vw;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-banner .logo-wrapper {
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  width: auto;
}

.logo-wrapper img {
  display: block;
  height: 2.5rem;
  margin: 0 auto;
  width: auto;
}

.text-aiel {
  font-size: 1.26rem !important;
  font-weight: 500;
}

.hero-banner .hero-image {
  background-image: url(https://assets.codepen.io/6060109/athlete-girl.png);
  /* background-image: url(/img/comingSoon.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 85%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.text-info > * {
  padding: 0 2.5rem 1rem;
}

/* intended for the first h2 within .text-info */
.text-info h2:nth-child(1) {
  color: #9c27b0;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
}

.text-info h2 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--theme-color-green);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.text-info p {
  color: #9c27b0;
  line-height: 28px;
  font-weight: 550;
}

.text-info .email-signup {
  margin: 1rem 0 6rem;
  position: relative;
  width: 100%;
}

.email-signup .email-input {
  border: 1px solid rgba(51, 51, 51, 0.7);
  border-radius: 3px;
  padding: 1rem 1.5rem;
  opacity: 0.5;
  width: 100%;
}

.email-signup .email-input:focus {
  background-color: var(--theme-color-white);
  outline: 2px solid var(--theme-color-black);
  opacity: 1;
}

.email-signup .email-submit {
  background-color: var(--theme-color-black);
  border-bottom: 1px solid var(--theme-color-black);
  border-radius: 2px;
  color: var(--theme-color-white);
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  padding: 1rem 1.5rem;
  position: absolute;
  right: 0;
  margin-right: 2.5rem;
  z-index: 10;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(https://assets.codepen.io/6060109/destop-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
  }

  main {
    display: flex;
    flex-direction: column;
    height: inherit;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 3.5rem;
  }

  .mobile-container {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .hero-banner .logo-wrapper {
    margin-left: 3.5rem;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .logo-wrapper img {
    margin: 0 0 0;
    padding-left: 2.5rem;
  }

  .hero-image {
    display: none;
  }

  .text-info {
    text-align: left;
    align-items: start;
  }

  .text-info h2 {
    font-size: 4.5rem;
  }

  .text-info p {
    font-size: 16px;
  }

  .text-info input {
    font-size: 16px;
  }

  .text-info .email-signup {
    margin: 1rem 0 7rem;
  }

  .hero-image-desktop {
    display: block;
    height: 100%;
    width: 65vw;
  }

  .hero-image-desktop img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
    height: 100%; /* Change to 100% */
    object-fit: cover;
    width: 100%;
  }

  .email-signup .email-submit {
    border-bottom: 2px solid var(--theme-color-black);
  }
}
.container {
  position: relative;
  width: 100%;
  max-width: 500px; /* Adjust the max-width as needed */
  margin: 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 100s infinite forwards linear;
  top: 50%; /* Center the carousel vertically */
  transform: translateY(-50%);
}

.carousel__face {
  position: absolute;
  width: 310px;
  height: 187px;
  top: 10px;
  left: 50%; /* Center the carousel__face horizontally */
  transform: translateX(-50%);
  background-size: cover;
  display: flex;
  margin: 0 auto;
}

.carousel-container {
  width: 100%; /* Adjust the width as needed */
  margin: 0 auto;
}

span {
  margin: auto;
  font-size: 3rem;
}

.carousel-container {
  width: 10%; /* Adjust the width as needed */
  margin: 0 auto;
}

/* Update carousel styles */

/* Mobile View */
@media only screen and (max-width: 767px) {
  .hero-image-desktop {
    display: none; /* Hide the desktop image in mobile view */
  }

  .hero-banner {
    text-align: center;
  }

  .logo-image {
    max-width: 150%; /* Make the logo image responsive */
    height: auto;
  }

  .text-info h2 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }

  .wrapper {
    flex-direction: column; /* Change flex direction to column for better stacking */
    align-items: center; /* Center items in mobile view */
    padding: 20px; /* Add padding for better spacing in mobile view */
  }

  .bg-ico {
    margin: 10px 0; /* Adjust margin for better spacing in mobile view */
  }
}

/* Desktop View */
@media only screen and (min-width: 768px) {
  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 100s infinite forwards linear;
    top: 50%; /* Center the carousel vertically */
    transform: translateY(-50%);
  }

  .carousel__face {
    position: absolute;
    width: 310px;
    height: 187px;
    top: 10px;
    left: 50%; /* Center the carousel__face horizontally */
    transform: translateX(-50%);
    background-size: cover;
    display: flex;
    margin: 0 auto;
  }

  .carousel-container {
    width: 100%; /* Adjust the width as needed */
    margin: 0 auto;
  }

  .carousel-container {
    width: 10%;
    margin: 0 auto;
  }

  span {
    margin: auto;
    font-size: 3rem;
  }

  .carousel__face:nth-child(1) {
    background-image: url("img/hospitatlity1.jpg");
    transform: rotateY(0deg) translateZ(430px);
  }
  .carousel__face:nth-child(2) {
    background-image: url("/img/account.jpg");
    transform: rotateY(40deg) translateZ(430px);
  }
  .carousel__face:nth-child(3) {
    background-image: url("/img/health2.jpg");
    transform: rotateY(80deg) translateZ(430px);
  }
  .carousel__face:nth-child(4) {
    background-image: url("/img/hosptatlity.jpg");
    transform: rotateY(120deg) translateZ(430px);
  }
  .carousel__face:nth-child(5) {
    background-image: url("/img/truck.jpg");
    transform: rotateY(160deg) translateZ(430px);
  }
  .carousel__face:nth-child(6) {
    background-image: url("/img/trades.jpg");
    transform: rotateY(200deg) translateZ(430px);
  }
  .carousel__face:nth-child(7) {
    background-image: url("/img/hr.jpg");
    transform: rotateY(240deg) translateZ(430px);
  }
  .carousel__face:nth-child(8) {
    background-image: url("/img/fast.jpg");
    transform: rotateY(280deg) translateZ(430px);
  }
  .carousel__face:nth-child(9) {
    background-image: url("/img/trades.jpg");
    transform: rotateY(320deg) translateZ(430px);
  }

  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

  /* Glow Cards */

  .contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .contact-input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
  }

  .contact-submit {
    background-color: #005da4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  /* relevant code for the icons starts here */

  .site {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    display: flex;
    height: 10vh;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }

  .fab {
    margin: auto;
  }
  .social {
    color: whitesmoke;
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
  }
  .social:hover {
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.8);
    transition: all ease 0.5s;
    -moz-transition: all ease-in 0.5s;
    -webkit-transition: all ease-in 0.5s;
    -o-transition: all ease-in 0.5s;
  }

  .facebook {
    color: #4267b2;
  }

  .twitter {
    color: #1da1f2;
  }
  .youtube {
    color: #c4302b;
  }
  .pinterest {
    color: #c8232c;
  }
  .instagram {
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
  }
  .telegram {
    color: #2aabee;
  }
  .whatsapp {
    color: #25d366;
  }

  .bg-ico {
    display: flex;
    background-color: whitesmoke;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgb(232, 38, 45, 0.7);
    opacity: 0.99;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
  }
  .bg-ico:hover {
    box-shadow: 0 5px 15px -5px rgb(0, 92, 163, 0.8);
  }

  #facebook:hover {
    background-color: #4267b2;
  }

  #twitter:hover {
    background-color: #1da1f2;
  }
  #youtube:hover {
    background-color: #c4302b;
  }
  #pinterest:hover {
    background-color: #c8232c;
  }
  #instagram:hover {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
  }
  #tumblr:hover {
    background-color: #34526f;
  }
  #whatsapp:hover {
    background-color: #25d366;
  }

  .facebook:hover,
  .twitter:hover,
  .youtube:hover,
  .pinterest:hover,
  .instagram:hover,
  .tumblr:hover,
  .whatsapp:hover {
    color: #fff;
    transform: scale(1.3);
  }

  .social-menu ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .social-menu ul li {
    list-style: none;
    margin: 0 15px;
  }

  .social-menu ul li .fab {
    font-size: 30px;
    line-height: 60px;
    transition: 0.3s;
    color: #000;
  }

  .social-menu ul li .fab:hover {
    color: #fff;
  }

  .social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: 0.6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
  }

  .social-menu ul li a:hover {
    transform: translate(0, -10%);
  }

  .social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
  }
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #000;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  .svg-inline--fa {
    vertical-align: -0.2em;
  }

  .rounded-social-buttons {
    text-align: center;
  }

  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram {
    font-size: 25px;
  }

  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }

  .rounded-social-buttons .social-button.facebook:hover,
  .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }

  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }

  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }

  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }

  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }

  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }

  .rounded-social-buttons .social-button.youtube:hover,
  .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }

  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }

  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }
  /* Mobile View */
  @media only screen and (max-width: 767px) {
    /* ... (Your existing mobile view styles) ... */

    /* Move social icons styling outside .hero-image-desktop */
    .wrapper {
      display: flex;
      height: 10vh;
      flex-direction: row;
      padding: 0 20px;
      align-items: center;
      justify-content: center;
    }

    .bg-ico {
      display: flex;
      background-color: whitesmoke;
      width: 90px;
      height: 90px;
      line-height: 90px;
      margin: 0 10px;
      text-align: center;
      position: relative;
      overflow: hidden;
      border-radius: 28%;
      box-shadow: 0 5px 15px -5px rgb(232, 38, 45, 0.7);
      opacity: 0.99;
      -webkit-transition: background-color 2s ease-out;
      -moz-transition: background-color 2s ease-out;
      -o-transition: background-color 2s ease-out;
      transition: background-color 2s ease-out;
    }

    .bg-ico:hover {
      box-shadow: 0 5px 15px -5px rgb(0, 92, 163, 0.8);
    }

    #facebook:hover {
      background-color: #4267b2;
    }

    #twitter:hover {
      background-color: #1da1f2;
    }

    #youtube:hover {
      background-color: #c4302b;
    }

    #pinterest:hover {
      background-color: #c8232c;
    }

    #instagram:hover {
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
      background: -webkit-radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );
    }

    #tumblr:hover {
      background-color: #34526f;
    }

    #whatsapp:hover {
      background-color: #25d366;
    }

    .facebook:hover,
    .twitter:hover,
    .youtube:hover,
    .pinterest:hover,
    .instagram:hover,
    .tumblr:hover,
    .whatsapp:hover {
      color: #fff;
      transform: scale(1.3);
    }
  }
  @media only screen and (max-width: 767px) {
    .rounded-social-buttons {
      margin-top: 2rem;
    }

    .social-button {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      margin: 0 8px;
      color: #fff;
      transition: background-color 0.3s;
      font-size: 24px;
    }

    .linkedin {
      background-color: #007bb5;
    }

    .facebook {
      background-color: #3b5998;
    }

    .twitter {
      background-color: #55acee;
    }

    .youtube {
      background-color: #cd201f;
    }

    .instagram {
      background-color: #125688;
    }

    /* Hover effect for social buttons */

    .social-button:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
    .hero-image-desktop {
      display: none; /* Hide the desktop image in mobile view */
    }

    .hero-banner {
      text-align: center;
    }

    .logo-image {
      max-width: 100%; /* Make the logo image responsive */
      height: auto;
    }

    .text-info h2 {
      font-size: 3rem; /* Adjust font size for smaller screens */
    }
    .rounded-social-buttons {
      text-align: center;
    }

    .rounded-social-buttons .social-button {
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 3.125rem;
      height: 3.125rem;
      border: 0.125rem solid transparent;
      padding: 0;
      text-decoration: none;
      text-align: center;
      color: #fefefe;
      font-size: 1.5625rem;
      font-weight: normal;
      line-height: 2em;
      border-radius: 1.6875rem;
      transition: all 0.5s ease;
      margin-right: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .rounded-social-buttons .social-button:hover,
    .rounded-social-buttons .social-button:focus {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }

    .rounded-social-buttons .fa-twitter,
    .fa-facebook-f,
    .fa-linkedin,
    .fa-youtube,
    .fa-instagram {
      font-size: 25px;
    }

    .rounded-social-buttons .social-button.facebook {
      background: #3b5998;
    }

    .rounded-social-buttons .social-button.facebook:hover,
    .rounded-social-buttons .social-button.facebook:focus {
      color: #3b5998;
      background: #fefefe;
      border-color: #3b5998;
    }

    .rounded-social-buttons .social-button.twitter {
      background: #55acee;
    }

    .rounded-social-buttons .social-button.twitter:hover,
    .rounded-social-buttons .social-button.twitter:focus {
      color: #55acee;
      background: #fefefe;
      border-color: #55acee;
    }

    .rounded-social-buttons .social-button.linkedin {
      background: #007bb5;
    }

    .rounded-social-buttons .social-button.linkedin:hover,
    .rounded-social-buttons .social-button.linkedin:focus {
      color: #007bb5;
      background: #fefefe;
      border-color: #007bb5;
    }

    .rounded-social-buttons .social-button.youtube {
      background: #bb0000;
    }

    .rounded-social-buttons .social-button.youtube:hover,
    .rounded-social-buttons .social-button.youtube:focus {
      color: #bb0000;
      background: #fefefe;
      border-color: #bb0000;
    }

    .rounded-social-buttons .social-button.instagram {
      background: #125688;
    }

    .rounded-social-buttons .social-button.instagram:hover,
    .rounded-social-buttons .social-button.instagram:focus {
      color: #125688;
      background: #fefefe;
      border-color: #125688;
    }
  }
}
@media only screen and (max-width: 767px) {
  .rounded-social-buttons {
    margin-top: 2rem;
  }

  .social-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 8px;
    color: #fff;
    transition: background-color 0.3s;
    font-size: 24px;
  }

  .linkedin {
    background-color: #007bb5;
  }

  .facebook {
    background-color: #3b5998;
  }

  .twitter {
    background-color: #55acee;
  }

  .youtube {
    background-color: #cd201f;
  }

  .instagram {
    background-color: #125688;
  }

  /* Hover effect for social buttons */

  .social-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .hero-image-desktop {
    display: none; /* Hide the desktop image in mobile view */
  }

  .hero-banner {
    text-align: center;
  }

  .logo-image {
    max-width: 100%; /* Make the logo image responsive */
    height: auto;
  }

  .text-info h2 {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }
  .rounded-social-buttons {
    text-align: center;
  }

  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram {
    font-size: 25px;
  }

  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }

  .rounded-social-buttons .social-button.facebook:hover,
  .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }

  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }

  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }

  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }

  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }

  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }

  .rounded-social-buttons .social-button.youtube:hover,
  .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }

  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }

  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }
}
